/*
   --------------------------------
	-------- GENERAL
	--------------------------------
	*/

body {
  font: 300 36px "Helvetica Neue";
  overflow: hidden;
  position: relative;
}

a:link, a:visited {
  color: #777;
  text-decoration: none;
}

a:hover {
  color: #666;
}

blockquote {
  margin: 0;
}

blockquote:before {
  content: "“";
  position: absolute;
  left: -.4em;
}

blockquote:after {
  content: "”";
  position: absolute;
}

body > ul {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 64px;
}

h1, h2, h3 {
  font-weight: inherit;
  margin: 0;
}

h2, h3 {
  text-align: right;
  font-size: inherit;
  position: absolute;
  bottom: 0;
  right: 0;
}

h2 {
  font-size: 24px;
  position: absolute;
}

h3 {
  bottom: -20px;
  font-size: 18px;
}

.invert {
  background: #1f1f1f;
  color: #dcdccc;
}

.invert h2, .invert h3 {
  color: #7f9f7f;
}

.string, .regexp {
  color: #f39;
}

.keyword {
  color: #00c;
}

.comment {
  color: #777;
  font-style: oblique;
}

.number {
  color: #369;
}

.class, .special {
  color: #1181B8;
}

body > svg {
  position: absolute;
  top: -80px;
  left: -160px;
}



/*
   --------------------------------
	-------- APPLICATION
	--------------------------------
*/

text {
	font-size: 11px;
	pointer-events: none;
}

text.parent {
	fill: #1f77b4;
}

circle {
	fill: #ccc;
	stroke: #999;
	pointer-events: all;
}

.parent {
	fill: #373e45;
	stroke: steelblue;
	stroke-width: .5px;
}

circle.parent {
	stroke-width: 2.5px;
}

.parent:hover {
	stroke: #ff7f0e;
	stroke-width: 2.5px;
}

.child {
	pointer-events: none;
}

.chart {
	max-width: 70%;
	min-width: 800px;
	float: left;
}

.legend {
	max-width: 30%;
	float: left;
	margin-left: 20px;
}

.legend > h2,
.legend > h4,
.legend--holder > h3,
.legend > h3 {
	text-align: left;
	position: relative;
	bottom: 0;
}

.legend > h4 {
	margin-bottom: 15px;
}

.legend--holder {
	font-size: 1rem;
	margin-top: 10px;
}

.legend--holder ul {
    list-style: none;
    padding:0;
    margin:0;
}

.legend--holder li {
    padding-left: 1em;
    text-indent: -.7em;
}

.legend--holder li:before {
    content: "• ";
	 height: 40px;
	 font-size: 30px;
    vertical-align:middle;
    line-height:20px;
}

.legend--holder ul {
	margin-top: 7px;
}

.legend--holder .legend--navy:before { color: #001F3F; }
.legend--holder .legend--blue:before { color: #0074D9; }
.legend--holder .legend--aqua:before { color: #7FDBFF; }
.legend--holder .legend--teal:before { color: #39CCCC; }
.legend--holder .legend--olive:before { color: #3D9970; }
.legend--holder .legend--green:before { color: #2ECC40; }
.legend--holder .legend--lime:before { color: #01FF70; }
.legend--holder .legend--yellow:before { color: #FFDC00; }
.legend--holder .legend--orange:before { color: #FFDC00; }
.legend--holder .legend--red:before { color: #FF4136; }
.legend--holder .legend--fuchsia:before { color: #F012BE; }
.legend--holder .legend--purple:before { color: #B10DC9; }
.legend--holder .legend--maroon:before { color: #85144B; }
.legend--holder .legend--silver:before { color: #DDDDDD; }

text.parent.text-level-1 {
	fill: #ff7f0e;
	font-size: 30px !important;
	font-weight: bold;
}

text.parent.text-level-2 {
	fill: #ff7f0e;
	font-size: 25px !important;
	font-weight: bold;
}

text.parent.text-level-3 {
	fill: #ff7f0e;
	font-size: 15px !important;
	font-weight: bold;
}
